SUPABASE_URL=https://orcrkhytzebqqtklzbzu.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yY3JraHl0emVicXF0a2x6Ynp1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njk4NDYyNzYsImV4cCI6MjA4NTQyMjI3Nn0.rkM1Z7UTpDkngUdQysI5kcjUJymlNBZO2mthZ2ofCxI

